<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BundleExtensionsTests</key>
		<dict>
			<key>testBundleAppBuildNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.4602e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testBundleAppName()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.8893e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testBundleAppVersion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.1679e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>ColorExtensionsTest</key>
		<dict>
			<key>testHexHashtag()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.4658e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testShortHex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.1373e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testSimpleHexColors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.677e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testUnsuposedHexFormat()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0006569</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>DataExtensionTests</key>
		<dict>
			<key>testHexString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00011858</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testSizeFormattedString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00085937</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>DateExtensionsTests</key>
		<dict>
			<key>testDateAt()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00034128</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>ErrorExtensionsTests</key>
		<dict>
			<key>testErrorWithMessage()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.4176e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>FontExtensionsTests</key>
		<dict>
			<key>testCustomFonts()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0002872</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>KeychainHelperTests</key>
		<dict>
			<key>testKeychainWorkflow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010192</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>MapControllerTests</key>
		<dict>
			<key>testAddressCoordinate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.8779e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressIsValid()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0713e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressLatitude()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.7259e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressLongitude()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1157e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressName()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.7843e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressStringAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.006e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAnnotationAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3228e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAnnotationUpdateAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.7218e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
