<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BundleExtensionsTests</key>
		<dict>
			<key>testBundleAppBuildNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.739e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testBundleAppName()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.3866e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testBundleAppVersion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.6185e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>ColorExtensionsTest</key>
		<dict>
			<key>testHexHashtag()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.3729e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testShortHex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.0718e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testSimpleHexColors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.4555e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testUnsuposedHexFormat()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00070472</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>DataExtensionTests</key>
		<dict>
			<key>testHexString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00011284</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testSizeFormattedString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00094251</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>ErrorExtensionsTests</key>
		<dict>
			<key>testErrorWithMessage()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.9479e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>FontExtensionsTests</key>
		<dict>
			<key>testCustomFonts()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0003021</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>KeychainHelperTests</key>
		<dict>
			<key>testKeychainWorkflow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011327</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
		<key>MapControllerTests</key>
		<dict>
			<key>testAddressCoordinate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6201e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressIsValid()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.1492e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressLatitude()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0339e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressLongitude()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.5586e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressName()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.1275e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAddressStringAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4994e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAnnotationAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6039e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
			<key>testAnnotationUpdateAddress()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3555e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>FrostKit iOS Bot – Integration 2</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
