[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/AlamofireImage"]
	path = Carthage/Checkouts/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
